<div class="scroll">
    <div class="comment">
        <strong>Luis:</strong>
        It is a good platform to learn programming.
    </div>

    <div class="comment myComment">
        <!-- No mostrar cuando se yo el user  -->
        <!-- <strong>Luis:</strong>  -->
        It is an educational website. Prepare for the Recruitment drive
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        It is an educational website. Prepare for the Recruitment drive
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        of product based companies like Microsoft, Amazon, Adobe etc with
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        a free online placement preparation course. The course focuses
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        on various MCQ's & Coding question likely to be asked in the
    </div>


    <div class="comment">
        <strong>Luis:</strong>
        interviews & make your upcoming placement season efficient and
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        successful. Also, any geeks can help other geeks by writing
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        steps that are Articles that need little modification/improvement
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        coding style, and try to make you are close to them. In case you
    </div>
    
           <div class="comment">
        <strong>Luis:</strong>
        It is an educational website. Prepare for the Recruitment drive
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        of product based companies like Microsoft, Amazon, Adobe etc with
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        a free online placement preparation course. The course focuses
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        on various MCQ's & Coding question likely to be asked in the
    </div>


    <div class="comment">
        <strong>Luis:</strong>
        interviews & make your upcoming placement season efficient and
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        successful. Also, any geeks can help other geeks by writing
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        steps that are Articles that need little modification/improvement
    </div>

    <div class="comment">
        <strong>Luis:</strong>
        coding style, and try to make you are close to them. In case you
    </div>
</div>

<br />

<form class="formComment">
    <label class="spaceBottom" for="exampleInputEmail1">Comentario</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <button type="submit" class="btn btn-primary space btn">Comentar</button>
</form>
