<div class="scroll" >
    <div #Comments *ngFor="let item of comments">

        <div class="comment" *ngIf="item.userName != user.userName">
            <strong>{{item.userName}}:</strong>
            {{item.comment1}}
        </div>
    
        <div class="comment myComment" *ngIf="item.userName === user.userName">
            {{item.comment1}}
        </div>
    </div>
</div>

<br />

<form  [formGroup]="commentForm" class="formComment" (ngSubmit)="commentApi()">
    <label class="spaceBottom" for="comment1">Comentario</label>
    <input type="text" class="form-control" id="comment1"  formControlName="comment1" [(ngModel)]="commentInput.comment1"
    [controlErrorsTpl]="commentError"  maxlength="140">
    <button type="submit" class="btn btn-primary space btn" [disabled]="commentForm.invalid" >Comentar</button>
</form>

<ng-template let-error let-text="text" #commentError>
    <!-- {{error | json}} {{text}} -->
    <div *ngIf="error?.minlength" class="errorMessage">
      <i>El comentario debe ser mayor a 4 caracteres</i>
    </div>
  </ng-template>
