<div class="row">
    <h1>Registro</h1>
    <div class="columnL">

    </div>
    <div class="columnR">
        <form [formGroup]="singInForm" class="center" (ngSubmit)="singInApi()">
            <div class="form-group space">
              <label class="spaceBottom" for="userName">Usuario</label>
              <input type="text" class="form-control" id="userName"  formControlName="userName" [(ngModel)]="singIn.userName"
              [controlErrorsTpl]="usernNameError"  maxlength="15">
            </div>
            <div class="form-group space">
                <label class="spaceBottom" for="name">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name" [(ngModel)]="singIn.name"
                [controlErrorsTpl]="firstNameError"  maxlength="28">
            </div>
            <div class="form-group space">
                <label class="spaceBottom" for="lastName">Apellidos</label> 
                <input type="text" class="form-control" id="lastName" formControlName="lastName" [(ngModel)]="singIn.lastName"
                [controlErrorsTpl]="lastNameError" maxlength="28">
            </div>
            <div class="form-group space">
                <label class="spaceBottom" for="email">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" [(ngModel)]="singIn.email" maxlength="34">
                <ng-container *ngTemplateOutlet="emailError; context:{error: singInForm.get('email')?.errors}"></ng-container>
            </div>
            <div class="form-group space">
              <label class="spaceBottom" for="password">Contraseña</label>
              <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="singIn.password"  maxlength="6">
              <ng-container *ngTemplateOutlet="passwordError; context:{error: singInForm.get('password')?.errors}"></ng-container>
            </div>
            <button type="submit" class="btn btn-primary space btn" [disabled]="singInForm.invalid" >Registrarse</button>
        </form>
        <span class="createAccount">¿Ya tienes cuenta? </span>
        <span class="createAccountClick" (click)="redirect('login')">Iniciar Sesión</span>
    </div>
</div>

<ng-template let-error let-text="text" #usernNameError>
    <!-- {{error | json}} {{text}} -->
    <div *ngIf="error?.minlength" class="errorMessage">
      <i>El nombre de usuario debe ser mayor a 4 caracteres y menor a 15 caracteres</i>
    </div>
    <div *ngIf="error?.maxlength">
      <i>El nombre de usuario debe ser mayor a 4 caracteres y menor a 15 caracteres </i>
    </div>
  </ng-template>

  <ng-template let-error let-text="text" #firstNameError>
    <!-- {{error | json}} {{text}} -->
    <div *ngIf="error?.minlength" class="errorMessage">
      <i>El nombre debe ser mayor a 4 caracteres</i>
    </div>
  </ng-template>
  
  <ng-template let-error let-text="text" #lastNameError>
    <!-- {{error | json}} {{text}} -->
    <div *ngIf="error?.minlength" class="errorMessage">
      <i>El nombre apellido debe ser mayor a 4 caracteres</i>
    </div>
  </ng-template>
  
  <ng-template let-error="error" #passwordError>
    <!-- {{error | json}} -->
    <div *ngIf="error?.pattern?.requiredPattern" class="errorMessage">
      <i>La contraseña debe contener: A, a, 1, @</i>
    </div>
  </ng-template>

  <ng-template let-error="error" #emailError>
    <!-- {{error | json}} -->
    <div *ngIf="error?.email" class="errorMessage">
      <i>Debe ingresar un formato valido de email</i>
    </div>
  </ng-template>
